<div class="layui-fluid  pop-win no-padding">
    <div class="layui-card  no-padding">
        <div class="layui-card-body no-padding ">
            <form class="layui-form" method="post" action="" lay-filter="pop-form-add-res">
                <script type="text/html" template lay-done="layui.data.sendPara(d)">

                </script>
                <input type="hidden" name="id">
                <div class="layui-form-item">
                    <label class="layui-form-label">父节点</label>
                    <div class="layui-input-block">
                        <p id="pop_res_edit_name"></p>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="font-red">*</span>编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入编码"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="font-red">*</span>名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required" autocomplete="off"
                               placeholder="请输入名称"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="font-red">*</span>地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="jump" lay-verify="required" autocomplete="off"
                               placeholder="请输入地址"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="font-red">*</span>类型</label>
                    <div class="layui-input-block">
                        <select name="type">
                            <option id="sel_menu" value="1">菜单</option>
                            <option id="sel_fun" value="2">功能</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">序号</label>
                    <div class="layui-input-block">
                        <input type="text" name="sort" lay-verify="required|number" autocomplete="off"
                               placeholder="请输入序号"
                               class="layui-input">
                    </div>
                </div>

<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">状态</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input id="normal" type="radio" name="status" value="0" title="正常" checked="">-->
<!--                        <input id="stoped" type="radio" name="status" value="1" title="不可用">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-input-block">
                        <ul id="ztree_icon_list" class="icon-list layui-clear">

                        </ul>
                    </div>
                </div>
                <div class="form-btn-box">
                    <button class="layui-btn" lay-submit="" lay-filter="editResourcePop">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="ztreeIconList">
    {{# layui.each(d.iconList, function(index, item){
    if(d.showIcon==item){
    }}

    <li data-name="{{item}}" class="on">
        <div>
            <i class="iconfont {{item}}"></i>
        </div>
    </li>
    {{#  }else{
    }}
    <li data-name="{{item}}">
        <div>
            <i class="iconfont {{item}}"></i>
        </div>
    </li>
    {{# }
    }); }}
</script>
<script>
    layui.data.sendPara = function (d) {
        layui.use(['admin', 'reqajax', 'laytpl', 'form'], function () {
            var $ = layui.$
                , admin = layui.admin
                , laytpl = layui.laytpl
                , reqajax = layui.reqajax
                , form = layui.form;
            form.render();
            var tplData = {
                iconList: ['icon-set', 'icon-edit', 'icon-password', 'icon-link', 'icon-data', 'icon-notice', 'icon-book', 'icon-homesolid', 'icon-home1', 'icon-edit1', 'icon-notices', 'icon-noticesolid', 'icon-user', 'icon-unusual', 'icon-functionsolid', 'icon-flow', 'icon-home', 'icon-database', 'icon-setting', 'icon-flowset', 'icon-coumputer', 'icon-filesearch', 'icon-computersolid', 'icon-tablesolid', 'icon-trend', 'icon-usersettings', 'icon-edit2', 'icon-flowaround', 'icon-statisticsolid', 'icon-usersolid', 'icon-statistics2', 'icon-notice1', 'icon-user2', 'icon-excesolid', 'icon-function', 'icon-link1', 'icon-pass', 'icon-exception', 'icon-statistics', 'icon-table'],
                showIcon: ''
            }
            //图标列表渲染模板元素
            var getTpl = document.getElementById('ztreeIconList').innerHTML, view_tpl = document.getElementById('ztree_icon_list');
            laytpl(getTpl).render(tplData, function (html) {
                view_tpl.innerHTML = html;
            });
            getPopMsg()

            //图标选中切换效果
            $(".icon-list").on('click', 'li', function () {
                if ($(this).hasClass("on")) {
                    $(this).removeClass("on");
                    tplData.showIcon = "";
                } else {
                    $(this).addClass("on").siblings("li").removeClass("on");
                    tplData.showIcon = $(this).attr("data-name");
                }
            })

            //编辑资源表单提交
            form.on('submit(editResourcePop)', function (data) {
                data.field.icon=tplData.showIcon;
                reqajax.ajaxFun({
                    method: 'put'
                    , url: '/resources'
                    , data: JSON.stringify(data.field)
                    , success: function (res) {
                        if (res.succeed) {
                            layer.msg('修改成功！', {
                                icon: 1, time: 1000, end: function () {
                                    layer.close(d.params.index); //执行关闭
                                }
                            });

                        } else {
                            layer.msg(res.msg, {icon: 2, time: 1000});
                        }
                    }
                })
                return false;
            });
            function getParentName(pid){
                reqajax.ajaxFun({
                    method: 'get'
                    , url: '/resources/' +pid
                    , success: function (res) {
                        $("#pop_res_edit_name").text(res.data.title)
                    }
                })
            }

            function getPopMsg(){
                reqajax.ajaxFun({
                    method: 'get'
                    , url: '/resources/' + d.params.id
                    , success: function (res) {
                        var obj = res.data
                        for (var key in obj) {
                            if (key == "pid") {
                                if (obj[key] == "root") {
                                    $("#pop_res_edit_name").text('根目录')
                                } else {
                                    getParentName(obj[key])
                                }
                            } else if (key == "type") {
                                if (obj[key] == 1) {
                                    $("#sel_menu").attr("selected", true)
                                } else if (obj[key] == 2) {
                                    $("#sel_fun").attr("selected", true)
                                }
                            } else if (key == "icon") {
                                tplData.showIcon = obj[key]
                                //图标列表渲染模板元素
                                var getTpl = document.getElementById('ztreeIconList').innerHTML,
                                    view_tpl = document.getElementById('ztree_icon_list');
                                laytpl(getTpl).render(tplData, function (html) {
                                    view_tpl.innerHTML = html;
                                });
                            } else {
                                $("input[name='" + key + "']").val(obj[key])
                            }

                        }
                        form.render()
                    }
                })
            }


        })
    }


</script>

